body {
  font-family: Verdana, Arial;
  margin: 25px 25px 0px 25px;
}

h1 {
  color: #0000ff;
  font-size: 48px;
  font-weight: bold;
  padding: 15px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

p {
  font-size: 24px;
  padding: 0px 0px 15px 15px;
}

img {
  width: 350px;
  border: 10px dashed #000000;
}

div {
  min-height: 100px;
  padding: 20px;
  border: 3px solid #ffffff;
}

.red {
  background-color: #bc8f8f;
  text-align: right;
  margin-left: 50px;
  border-bottom: 3px;
  border-left: 10px;
}

.blue {
  background-color: #00ffff;
  text-align: left;
  margin-right: 50px;
  border-right: 10px;
  border-bottom: 3px;
}

span {
  text-decoration: underline;
  text-transform: uppercase;
}

footer {
  background: linear-gradient(
    90deg,
    #000000 0%,
    #0000ff 25%,
    #0066ff 70%,
    #000000 100%
  );
}
